In [46]:
import numpy as np
import pandas as pd

In [47]:
df = pd.read_csv(r'/content/country_vaccinations.csv.txt')

In [48]:
df.head()

       country  ...                                     source_website
0  Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...
1  Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...
2  Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...
3  Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...
4  Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...

[5 rows x 15 columns]

In [49]:
#Write df = df.fillna(0) instead
df = df.fillna(0)

In [50]:
df.head()

       country  ...                                     source_website
0  Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...
1  Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...
2  Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...
3  Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...
4  Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...

[5 rows x 15 columns]

In [51]:
#1Total number of people vaccinated in Argentina (Atlease Once)
int(df[df['country'] == 'Argentina']['people_vaccinated'].max())

7261176

In [52]:
#Q2. Total number of countries in this dataset
len(df['country'].unique())

195

In [53]:
#Q3. Maximum number of people vaccinated in a country

df.groupby('country').max()['people_vaccinated'].sort_values(ascending = False).head(1)

country
United States    148562891.0
Name: people_vaccinated, dtype: float64

In [54]:
#Q4. Top 5 Countries in terms of number of people vaccinated

df.groupby('country').max()['people_vaccinated'].sort_values(ascending = False).head(5)

country
United States     148562891.0
India             129730641.0
United Kingdom     34795074.0
Brazil             30921100.0
England            29124310.0
Name: people_vaccinated, dtype: float64